
body {
	background-color: AliceBlue;
}

h1 {
	color: navy;
	text-align: center;
	font-family: Palatino Linotype;
	font-size: 70;
	letter-spacing: 5px;

}

h2 {
	color: navy;
	text-align: center;
	font-family: Times New Roman;
	font-size: 40;
	letter-spacing: 2px;
}

p1 {
	color: black;
	text-align: center;
	font-family: Palatino Linotype;
	font-size: 16;
	letter-spacing: .5px;
    
}


a:link, a:visited {
	background-color: lightcoral;
	padding: 10px 10px;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	font-family: Helvetica;
	color: white;
}
a:hover {
	background-color: white;
	color: lightcoral;
}

#circle {
	display:inline;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	color: white;
}

.center {
	text-align:center;
}